@{
    Layout = "~/Shared/LayoutSmall.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Registration Complete</title>
</head>
<body>
    <h2>Thankyou, your details have been successfully submitted to our system and we will be in touch with you soon</h2>
</body>
</html>
