@{
    Layout = "~/Shared/LayoutSmall.cshtml";
    //clearing session details since form has successfully been submitted
    if(Session["user"] != null){
        Session["user"] = null;
    }
    else
    {
        //no landing here without valid session data
        Response.Redirect("~/Unauthorised.cshtml");
    }


}
<!DOCTYPE html>
<html>
<head>
    <title>Registration Complete</title>
</head>
<body>
    <h2>Thankyou, your details have been successfully submitted to our system and we will be in touch with you soon</h2>
</body>
</html>
