@{
    Layout = "~/Shared/LayoutSmall.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Unauthorised</title>
    </head>
    <body>
                <h2>You are not authorised to view this page, please click the below link to go back</h2>
                <a href="~/register.cshtml" class="btn btn-large btn-success">Go Back</a>
    </body>
</html>
