<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Product Code: @Request.QueryString["productCode"]</h1>
        <h1>Colour: @Request.QueryString["colour"]</h1>
        <h1>Quantity: @Request.QueryString["qty"]</h1>
        <h1>Price: @Request.QueryString["price"]</h1>
    </body>
</html>
