<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form method="post" action="~/page2.cshtml">
            <label for="field"> Enter String</label>
            <input type="text" name="field" id="fname" class="form-control"/><br />
            <button type="submit">Submit value to page 2</button><br />
            <button type="submit" formaction="~/page3.cshtml">Submit value to page 3</button>

        </form>
    </body>
</html>
