@{
    Layout = "~/Shared/MyLayout.cshtml";
    PageData["author"] = "Brian";
}
<!DOCTYPE html>
<html>
@section head{

<head>
    <title>Unique for page 5</title>
</head>
    }
<body>
    <div> This is from a div in the body</div>
</body>
</html>
